.slider {
  position: relative;
  inset: 0;
  width: fit-content;
  height: 100vh;
}

.slider.animating {
  pointer-events: none;
  cursor: default;
}

.slider.dragging {
  user-select: none;
}

.sliderContainer {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  display: flex;
  align-items: end;
  justify-content: center;
  perspective: 1000px;
  transform-style: preserve-3d;

  transition: transform var(--duration-fast) var(--timing-ease-out);
}

.sliderContainer > * {
  transform-origin: center center;
}

.casesTitle {
  position: absolute;
  @mixin responsive bottom, 16, 64, 64;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 600;
  color: #808080;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  z-index: 1000;
  transition: opacity var(--duration-slow) var(--timing-ease);

  &.hidden {
    opacity: 0;
  }
}

.root {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    0deg,
    rgba(240, 240, 240, 0.5),
    rgba(240, 240, 240, 0.5)
  );
}

.caseInfo {
  position: absolute;
  @mixin responsive left, 40, 40, 40;
  top: 20%;
  display: flex;
  flex-direction: column;
  @mixin responsive gap, 20, 20, 20;
  max-width: 27%;
  z-index: 1001;
  transition: opacity var(--duration-slow) var(--timing-ease);

  h3 {
    color: #808080;
    @mixin responsive font-size, 18, 18, 18;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1;
  }

  p {
    font-weight: 500;
    @mixin responsive font-size, 28, 28, 28;
    @mixin responsive line-height, 32, 32, 32;
    letter-spacing: 0.03em;
    color: #151515;
  }

  &.hidden {
    opacity: 0;
  }
}

.followingTitle {
  position: absolute;
  pointer-events: none;
  z-index: 1001;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: 600;
  color: white;
  mix-blend-mode: difference;
  text-align: center;
  transition: opacity var(--duration-fast) var(--timing-ease);
  white-space: nowrap;
}
