.card {
  transform: translateX(
      calc(var(--card-index) * -30% + var(--is-hovered) * 5vw)
    )
    translateY(calc(var(--card-index) * -30% + var(--is-hovered) * 1vw))
    skewY(10deg);
  z-index: calc(-1 * var(--card-index));
  width: 22vw;
  height: 22vw;
  transform-style: preserve-3d;
  transition: transform var(--duration-slow) var(--timing-cubic-smooth),
    opacity var(--duration-slower) var(--timing-ease),
    width var(--duration-extra-slowest) var(--timing-cubic-smooth-out),
    height var(--duration-extra-slowest) var(--timing-cubic-smooth-out);
  cursor: none;
  overflow: visible;
  opacity: 1;
  position: relative;
  view-transition-name: var(--card-id, none);

  img {
    object-fit: cover;
  }

  @media (max-width: 767px) {
    width: 33vw;
    height: 33vw;
  }
}

.card.resetTransformWithSkew {
  position: fixed;
  transform: translate(-50%, -50%) skewY(10deg);
  width: 22vw;
  height: 22vw;
  z-index: 999;
  cursor: default;
  pointer-events: none;
  transition: none;

  h4 {
    opacity: 0;
  }
}

.card.resetTransform {
  position: fixed;
  transform: translate(-50%, -50%) skewY(0deg);
  width: 22vw;
  height: 22vw;
  transition: transform var(--duration-slow) var(--timing-cubic-smooth-out),
    width var(--duration-slow) var(--timing-cubic-smooth-out),
    height var(--duration-slow) var(--timing-cubic-smooth-out);
  z-index: 9999;
  cursor: default;
  pointer-events: none;

  h4 {
    opacity: 0;
    transition: opacity var(--duration-medium) var(--timing-ease);
  }
}

.card.expanding {
  position: fixed;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transition: width var(--duration-extra-slow) var(--timing-cubic-smooth-out),
    height var(--duration-extra-slow) var(--timing-cubic-smooth-out);
  cursor: default;
  pointer-events: none;

  h4 {
    opacity: 0;
  }
}

.card.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--duration-slow) var(--timing-ease);
}
